.post {
	margin-top: 5em;

	figure {
		margin: 0;
	}

	&__intro {
		margin-bottom: 1em;

		@media (max-width: 2366px) and (min-width: 992px)
		{
			margin-bottom: 3em;
		}
	}

	&__headline {
		font-weight: 600;
		font-size: 3.3em;
		line-height: 2em;
		letter-spacing: 0.04em;
		@media (min-width: 400px) and (max-width: 600px)
		{
			font-size: 2.5em;
			line-height: 1.1em;
		}
	}

	&__content {
		p {
			font-weight: 400;
			font-size: 1em;
			line-height: 1.6em;
			letter-spacing: 0.04em;
		}
	}
}
